@import './variables/variables';
@import './header/header';
@import './stickyTab/stickyTab';
@import './profile/profile';
@import './repos/repos';

*,
::before,
::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  -webkit-text-size-adjust: $full;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
    sans-serif, Apple Color Emoji, Segoe UI Emoji;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: $full;
  height: $full;
}

a {
  text-decoration: none;
}

main {
  width: $full;
  height: $full;
  margin-bottom: 3rem;
  // display: grid;

  > .wrapper {
    display: flex;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 2rem;
  }
}

@media (max-width: 767px) {
  main {
    &.push {
      margin-top: 375px;
    }

    > .wrapper {
      flex-direction: column;
      margin: 0;
      width: $full;
      padding: 0;
    }
  }
}

@media (max-width: 1011px) and (min-width: 768px) {
  main {
    > .wrapper {
      padding: 0 1.5rem;
    }
  }
}
