$white: white;
$black: #24292e;
$full: 100%;
$fade: #ccc;
$whiteSmoke: whitesmoke;
$borderFade: #eaecef;
$tabFade: #959da5;
$activeBorder: #f9826c;
$counterBg: #d1d5da80;
$secondary: #586069;
$buttonBg: #fafbfc;
$buttonBorder: rgba(27, 31, 35, 0.15);
$buttonHover: #f3f4f6;
$borderRadius: 6px;
$linkPrimary: #0366d6;
$boxShadow: rgba(77, 77, 77, 0.1) 0px 0px 20px;
$boxShadowFocus: 0 0 0 3px rgba(3, 102, 214, 0.3);
$boxShadowInset: inset 0 1px 0 rgba(225, 228, 232, 0.2);
