@import '../variables/variables';

.sticky-tab {
  width: $full;
  background: $white;
  margin-top: 1.5rem;
  border-bottom: 1px solid $borderFade;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 200;

  .tab-wrapper {
    display: flex;
    align-items: center;
    padding: 0 2rem;
    max-width: 1280px;
    margin: 0 auto;

    .tab-image {
      display: flex;
      align-items: center;
      opacity: 0;
      flex: 1;

      > img {
        width: 32px;
        height: 32px;
        border-radius: 50%;
      }

      > .tab-user {
        vertical-align: middle;
        margin-left: 0.5rem;
        font-weight: 600;
        font-size: 0.9rem;
        color: $black;
        cursor: default;
      }
    }

    .tab-menu {
      width: 74.2%;

      > nav {
        height: $full;
        margin: 0 auto;
        padding: 0;
        font-size: 0.9rem;
        display: flex;

        a {
          height: $full;
          line-height: 30px;
          white-space: nowrap;
          color: $black;
          padding: 0.5rem 1rem;
          border-bottom-color: transparent;
          transition: border-bottom-color 0.4s ease-in-out;

          // &:nth-child(1) {
          //   padding-left: 0;
          // }

          &:hover {
            border-bottom: 2px solid $fade;
          }

          &[data-active-tab='active'] {
            font-weight: 600;
            border-bottom: 2px solid $activeBorder;

            .menu-icon {
              color: $black;
            }
          }
        }
      }
    }
  }
}

.menu-icon {
  color: $tabFade;
  font-size: 1rem;
  vertical-align: middle;
  margin-right: 0.45rem;
}

.repo-count {
  min-width: 20px;
  line-height: 18px;
  padding: 0 0.375rem;
  margin-left: 0.25rem;
  display: inline-block;
  border: 1px solid transparent;
  border-radius: 32px;
  background: $counterBg;
  text-align: center;
  font-size: 0.75rem;
}

.mobile-sticky-tab {
  display: none;
  max-width: $full;
  background: $white;
  margin-top: 1rem;
  overflow-x: hidden;
  border-bottom: 1px solid $borderFade;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 380;

  .mobile-sticky-tab-wrapper {
    max-width: $full;
    overflow-x: auto;
    height: $full;

    > nav {
      display: flex;
      height: $full;
      font-size: 0.9rem;
      padding-left: 1rem;

      a {
        height: $full;
        line-height: 30px;
        white-space: nowrap;
        color: $black;
        padding: 0.5rem 1rem;
        border-bottom-color: transparent;
        transition: border-bottom-color 0.4s ease-in-out;

        &:hover {
          border-bottom: 2px solid $fade;
        }

        &[data-active-tab='active'] {
          font-weight: 600;
          border-bottom: 2px solid $activeBorder;

          .menu-icon {
            color: $black;
          }
        }
      }
    }
  }
}

@media (max-width: 543px) {
  .mobile-sticky-tab {
    .menu-icon {
      display: none;
    }
  }
}

@media (max-width: 767px) {
  .sticky-tab {
    display: none;
  }

  .mobile-sticky-tab {
    display: block;
  }
}

@media (max-width: 1011px) and (min-width: 768px) {
  .tab-menu {
    width: 75% !important;
  }
}
