@import '../variables/variables';

header {
  width: $full;
  background: $black;
  height: 60px;

  nav {
    display: flex;
    align-items: center;
    height: $full;
    padding: 0 2rem;

    .hamburger {
      button {
        background: transparent;
        padding: 0;
        border: 0;
        outline: none;
        color: $white;
        font-size: 1.5rem;
        display: none;
      }
    }

    .git-logo {
      a {
        color: $white;

        &:hover {
          color: $fade;
        }

        [data-icon='octicon:mark-github-16'] {
          font-size: 2rem;
          vertical-align: middle;
        }
      }
    }

    > ul {
      list-style-type: none;
      display: flex;
      align-items: center;
      padding: 0;
      height: $full;
      margin-left: 1rem;

      li {
        margin-right: 1rem;

        &.settings-mobile {
          display: none;
        }

        input {
          background: url('../assets/icons/search-key-slash.svg');
          background-size: 19px;
          background-repeat: no-repeat;
          background-position: 96% 5px;
          width: 272px;
          padding: 0.3rem 0.72rem;
          border: 1px solid #444d56;
          border-radius: $borderRadius;
          font-family: inherit;
          font-size: 1rem;
          color: $black;
          outline: none;
          appearance: none;
          outline-offset: -2px;
          transition: all 0.2s linear;

          &::-webkit-search-decoration,
          &::-webkit-search-cancel-button,
          &::-webkit-search-results-button,
          &::-webkit-search-results-decoration {
            display: none;
          }

          &:focus {
            width: 472px;
            background: $white;
            border: 1px solid $linkPrimary;
            box-shadow: $boxShadowFocus;
            outline: none;

            &::placeholder {
              color: $black;
            }
          }

          &::placeholder {
            color: #bdbec0;
            font-size: 0.89rem;
          }
        }

        &.dashboard-nav-item,
        &.profile-nav-item,
        &.sign-out {
          display: none;
        }

        > a {
          color: $white;
          font-size: 0.9rem;
          font-weight: 500;

          &:hover {
            color: $fade;
          }

          .letter-s {
            display: none;
          }
        }
      }
    }

    .nav-end {
      display: flex;
      // align-items: center;
      margin-left: auto;

      .notification {
        margin-right: 0.9rem;
        color: $whiteSmoke;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;

        &:hover {
          color: $fade;
        }
      }

      .new-repo {
        margin-right: 1rem;
        position: relative;

        button {
          width: $full;
          background: transparent;
          border: 0;
          padding: 0;
          color: $whiteSmoke;
          cursor: pointer;
          outline: none;
          display: flex;
          align-items: center;

          &:hover,
          &:focus {
            color: $fade;
          }

          [data-icon='octicon:plus-24'] {
            font-size: 1.3rem;
            margin-right: 0.2rem;
          }
        }

        .new-repo-dropdown {
          position: absolute;
          width: 160px;
          background: $white;
          box-shadow: $boxShadow;
          border: 1px solid $fade;
          z-index: 234;
          border-radius: $borderRadius;
          top: 25px;
          right: 0;
          display: none;

          &.show {
            display: block;
          }

          .new-repo-drop-menu {
            list-style-type: none;
            margin: 0;
            padding: 0.4rem 0;

            > li {
              width: $full;

              > a {
                background: transparent;
                width: $full;
                display: block;
                padding: 0.3rem 1rem;
                font-size: 0.875rem;
                color: $black;

                &:hover {
                  background: $linkPrimary;
                  color: $white;
                }
              }
            }
          }
        }
      }

      .header-profile {
        position: relative;

        button {
          width: $full;
          background: transparent;
          border: 0;
          padding: 0;
          color: $whiteSmoke;
          cursor: pointer;
          outline: none;
          display: flex;
          align-items: center;

          &:hover,
          &:focus {
            color: $fade;
          }

          > img {
            width: 20px;
            height: 20px;
            border-radius: 50%;
            margin-right: 0.3rem;
          }
        }

        .header-profile-dropdown {
          position: absolute;
          width: 180px;
          background: $white;
          box-shadow: $boxShadow;
          border: 1px solid $fade;
          z-index: 234;
          border-radius: $borderRadius;
          top: 25px;
          right: 0;
          display: none;

          &.show {
            display: block;
          }

          .header-profile-dropdown-menu {
            width: $full;

            > div {
              border-top: 1px solid $borderFade;

              &:first-child {
                border-top: none;
              }
            }

            .signed-in-as {
              > a {
                padding: 0.6rem 1rem;

                .header-profile-username {
                  font-weight: 500;
                }
              }
            }

            .header-profile-link {
              width: $full;
              display: block;
              padding: 0.3rem 1rem;
              font-size: 0.875rem;
              color: $black;
              background: transparent;
            }

            .header-profile-status {
              width: $full;
              padding: 0.4rem 1rem;

              > button {
                background: $white;
                padding: 0.5rem;
                width: $full;
                border: 1px solid $borderFade;
                border-radius: $borderRadius;
                text-align: left;
                font-size: 1rem;
                font-family: inherit;
                color: $secondary;
                outline: none;
                cursor: pointer;

                &:hover {
                  color: $linkPrimary;
                }

                .header-profile-status-icon {
                  display: flex;
                }

                .header-profile-status-text {
                  font-size: 0.75rem;
                  margin-left: 0.45rem;
                }
              }
            }

            .header-profile-links-top {
              width: $full;
              padding: 0.4rem 0;

              > a {
                &:hover {
                  background: $linkPrimary;
                  color: $white;
                }
              }
            }

            .header-profile-links-bottom {
              width: $full;
              padding: 0.4rem 0 0.3rem;

              > a {
                &:hover {
                  background: $linkPrimary;
                  color: $white;
                }
              }
            }
          }
        }
      }

      .caret-down {
        display: inline-block;
        width: 0;
        height: 0;
        color: inherit;
        content: '';
        border-top-style: solid;
        border-top-width: 4px;
        border-bottom: 0 solid transparent;
        border-left: 4px solid transparent;
        border-right: 4px solid transparent;
      }
    }
  }
}

@media (max-width: 767px) {
  header {
    margin-bottom: 0.5rem;

    nav {
      padding: 0 1rem;
      display: grid;
      grid-template-columns: auto auto auto;
      justify-content: space-between;
      position: relative;

      .hamburger {
        button {
          display: flex;
        }
      }

      ul {
        background: $black;
        width: $full;
        height: auto;
        margin: 0;
        padding: 0.75rem 1rem 1rem;
        flex-direction: column;
        justify-content: center;
        position: absolute;
        top: 50px;
        left: 0;
        right: 0;
        display: none;
        z-index: 400;

        &.show {
          display: initial;
        }

        li {
          margin-right: 0;
          width: $full;
          border-bottom: 1px solid #444d56;
          padding: 0.5rem 0;

          &.settings-mobile {
            display: block;
          }

          > a {
            display: block;
          }

          &:nth-child(1) {
            padding: 0 0 1rem;
          }

          &:last-child {
            border-bottom: 0;
          }

          input {
            width: $full;

            &:focus {
              width: $full;
            }
          }

          &.dashboard-nav-item,
          &.profile-nav-item,
          &.sign-out {
            display: block;
          }

          &.profile-nav-item {
            img {
              width: 20px;
              height: 20px;
              border-radius: 50%;
              vertical-align: middle;
            }
          }

          &.sign-out {
            button {
              background: transparent;
              width: $full;
              padding: 0;
              border: 0;
              outline: none;
              font-family: inherit;
              font-size: 0.9rem;
              color: $white;
              display: flex;
              align-items: center;

              &:hover {
                color: $fade;
              }

              [data-icon='octicon:sign-out-16'] {
                font-size: 1rem;
                margin-right: 0.3rem;
              }
            }
          }
        }
      }

      .nav-end {
        .notification {
          margin-right: 0;
          display: inline-flex;
        }

        .new-repo,
        .header-profile {
          display: none;
        }
      }
    }
  }
}

@media (max-width: 1011px) and (min-width: 768px) {
  header {
    nav {
      padding: 0 1.5rem;
      ul {
        li {
          input {
            width: 258px;
          }

          > a {
            .letter-s {
              display: initial;
            }

            .word {
              display: none;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 954px) and (min-width: 768px) {
  header {
    nav {
      ul {
        li {
          > input {
            &:focus {
              width: 258px;
            }
          }
        }
      }
    }
  }
}
