@import '../variables/variables';

.repos {
  width: 74.2%;

  .search-repo {
    width: $full;
    padding: 1rem 0;

    > input {
      width: $full;
      display: block;
      padding: 0.3rem 0.72rem;
      border: 1px solid $borderFade;
      border-radius: $borderRadius;
      font-family: inherit;
      font-size: 1rem;
      color: $black;
      outline: none;
      appearance: none;

      &::placeholder {
        font-size: 0.89rem;
      }
    }
  }

  .repos-list {
    width: $full;

    ul {
      list-style-type: none;
      padding: 0;
      margin: 0;

      li {
        border-bottom: 1px solid $borderFade;
        padding: 1.8rem 0;

        &:nth-child(1) {
          border-top: 1px solid $borderFade;
        }

        .repo-info {
          display: flex;
          align-items: center;
          justify-content: space-between;

          .info {
            width: auto;

            .repo-name {
              h3 {
                margin: 0;

                a {
                  color: $linkPrimary;
                  font-size: 1.25rem;
                  font-weight: 500;

                  &:hover {
                    text-decoration: underline;
                  }
                }
              }
            }

            .repo-desc {
              margin-top: 0.5rem;

              p {
                width: 80%;
                margin: 0;
                color: $secondary;
                font-size: 0.875rem;
                padding-right: 1.5rem;
              }
            }

            .info-footer {
              width: $full;
              margin-top: 1rem;
              display: flex;
              align-items: center;

              > span {
                font-size: 0.75rem;
                display: flex;
                align-items: center;
                color: $secondary;

                &.repo-rate {
                  margin: 0 1rem;

                  .icon {
                    margin-right: 0.2rem;
                  }
                }

                &.repo-forks {
                  .icon {
                    margin-right: 0.2rem;
                  }
                }

                .lang-badge {
                  width: 12px;
                  height: 12px;
                  border-radius: 50%;
                  margin-right: 0.2rem;
                }
              }

              .repo-time {
                margin-left: 1rem;
              }

              .repo-relative-time {
                margin-left: 0.2rem;
                white-space: nowrap;
                font-size: 0.75rem;
                color: $secondary;
                display: inline-block;
              }
            }
          }

          .rate {
            button {
              background: $buttonBg;
              width: 65px;
              padding: 0.4rem 0;
              border: 1px solid $buttonBorder;
              border-radius: $borderRadius;
              display: flex;
              align-items: center;
              justify-content: center;
              color: $black;
              font-size: 0.75rem;
              font-family: inherit;
              font-weight: 500;
              outline: none;
              cursor: pointer;

              &:hover {
                background: $buttonHover;
              }

              .icon {
                color: $tabFade;
                margin-right: 0.3rem;
                font-size: 1rem;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 295px) {
  .search-repo {
    padding: 1rem 0.5rem !important;
  }

  .repos-list {
    padding: 0 0.5rem !important;
  }
}

@media (max-width: 767px) {
  .repos {
    width: $full;

    .search-repo {
      padding: 1rem;
    }

    .repos-list {
      padding: 0 0.5rem 0 1rem;

      .repo-info {
        .repo-rate,
        .repo-forks {
          display: none !important;
        }
      }
    }
  }
}

@media (max-width: 1011px) and (min-width: 768px) {
  .repos {
    width: 75%;
  }
}
